body * {
    margin: 5px;
}
select {
    padding: 2px;
    padding-right: 15px;
    /*border-radius: 5px;*/
}
button {
    padding: 5px;
}
.tab { 
    margin: 0px;
    margin-left: 40px; 
}

input {
    padding: 2px;
    border-radius: 5px;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: darkgray;
}

.important {
    color: red;
    font-weight: bold;
}

.stop {
    color: red;
    font-weight: bold;    
}

.pause {
    color: #999900;
    font-weight: bold;    
}

.run {
    color: #00ff00;
    font-weight: bold;    
}